.banner
{
    height:100vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(72,45,253,1) 100%);
color: #fff;
    
}

.banner::after
{
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  
  clip-path: polygon(100% 100%, 0 100%, 100% 56%);
  max-width: 100%;

}
.Products
{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
.Products>h3 {
    border-bottom: 2px solid lightgray;
   
}
.productcard
{
    display: flex;
    flex-wrap: wrap;
    width: 150vmin;
    justify-content: center;
}